.subscription-expired-page{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.subscription-expired-page img{height:auto;width:auto;max-height:12.5rem;max-width:12.5rem}