.input-field--invalid > .form-field__hint{

}

button.loading-button:not(.loading-button--loading) svg{
    display: none !important;
}

.loading-button--loading{
    cursor: not-allowed !important;
}


@media screen and (max-width: 768px) {
    .authentication__inner-wrapper .authentication__inner{
        box-shadow: none !important;
        border: 0 !important;
        background: #fafaff !important;
    }
}